body {
    background-color: radial-gradient(circle at 10% 20%, rgb(255, 246, 236) 39.5%, rgba(100, 46, 122, 0.23) 100.2%);
  }
  
  header h1 {
    letter-spacing: 4px;
    text-transform: uppercase;
    color: grey;
  }
  
  ul {
    color: grey;
    list-style: none;
    margin-top: -53px;
  }
  ul a {
    color:gray;
  }
  
  ul li {
    letter-spacing: 4px;
    margin-right: 20px;
    float: right;
  }
  ul li:hover {
    border-bottom: 1px solid grey;
  }
  #running-image {
    width: 100%;
    height: 400px;
    margin-top: 20px;
  }
  #workoutreasonouter {
    background-color: gray;
  }
  #workoutreasonheading {
    color: gray;
    text-transform: uppercase;
    margin-left: 678px;
  }
  #workoutreason img {
    width: 50%;
    height: 500px;
    border-radius: 20px;
  }    
  #topreasonsheading {
    float: right;
    margin-top: -467px;
    color: white;
    margin-right: 250px;
  }
  
  #topreasons {
    float: right;
    margin-top: -439px;
    margin-right: -126px;
    color: white;
    list-style-type: none;
  }
  
  #topreasons li {
    margin-left: -800px;
    font-size: 25px;
    margin-top: 20px;
    list-style-type: circle;
  }
  
  #topreasons li:hover {
    border-bottom: 0px solid white;
  }
  #centersheading{
        color: gray;
        text-transform: uppercase;
        margin-left: 748px;
      }
  
     #centersbutton{
      background-color: black;
      color:white;
      font-size:30px;
      text-emphasis: bold;
     }
     footer{
       background-color: black;
       width: 100%;
       height:200px;
     }
     #footerheading{
       color:white;
       margin-left: 910px;
       margin-bottom: 100px;
     }
     #contactdetails{
       color:white;
       margin-left: 900px;
       margin-bottom: 50px;
     }
     #contactdetails h2{
      font-size: 24px;
      margin-bottom: -66px;
    }
    #companyname{
      margin-left: 30px;

    }
    #email{
      margin-left: -26px;
    }s
    #phone{
      margin-left: 13px;
    }

/*SignUp page*/

#SignUpbody{
  background-image: url("Man_workingout.jpg");
  
}
/*
#Signupheader h1{
  margin-top: 150px;
  margin-left: 20px;
}*/
#SignUpheading{
  letter-spacing: 4px;
  text-transform: uppercase;
  color: grey;
  font-size: 40px;
  margin-left: 11px;
  
}

#SignUpList:{
  color:rgb(49, 198, 74);
}
#SignUptext {
  color:black;
  margin-top:100px;
  
}
#SignUph1 {
  color:gray;
  margin-top:100px;
  font-size: 30px;
  margin-left:11px;
}
#SignUppara {
  color:gray;
  margin-top:24px;
  font-size: 22px;
  margin-left: 13px;
}
#SignUpImg{
  float: right;
  margin-top: -687px;
  height: 1000px;
  width:630px ;
  opacity: 0.3;
  
}
form{
  margin-left: 14px;
  margin-top: 35px;
}
/*Workout page styling*/
#Workoutbody{
  background-color:rgb(156, 83, 83) ;
}
#EasyWorkout{
 /* background-color: black;*/
  width: 100%;
  height:500px;
  border-radius:20px
}
#Workoutheading{
  color: gray;
  margin-left:478px;
  margin-top:100px;
  font-size:50px;
}
#EasyWorkoutImg1{
  width: 40%;
  height:350px;
  margin-top: -20px;
  margin-left: 71px;
  border-radius:350px;
  border: 1px solid black;
  border-radius:190px;
}
#EasyWorkoutImg2{
  width: 40%;
  height:354px;
  float: right;
  margin-top: -360px;
  margin-right: 65px;
  border: 1px solid black;
  border-radius:190px;
  
}
#EasyWorkoutheading{
  color: white;
  margin-left:521px;
  margin-top:100px;
  font-size:50px;
}
#SemiIntensiveWorkout{
  /*background-color: rgb(156, 83, 83);*/
  width: 100%;
  height:500px;
  border-radius:20px
}
#SemiIntensiveheading{
  color: gray;
  margin-left:351px;
  margin-top:100px;
  font-size:50px;
}

#SemiIntenseWorkoutImg1{
  width: 40%;
  height:350px;
  margin-top: -20px;
  margin-left: 71px;
  border-radius:183px;
  border: 1px solid black;
  border-radius:190px;
}
#SemiIntenseWorkoutImg2{
  width: 40%;
  height:354px;
  float: right;
  margin-top: -360px;
  margin-right: 65px;
  border-radius:162px;
  border: 1px solid black;
  border-radius:190px;
}

#IntensiveWorkout{
 /* background-color: rgb(112, 132, 212);*/
  width: 100%;
  height:500px;
  border-radius:20px
}
#Intensiveheading{
  color: gray;
  margin-left:436px;
  margin-top:100px;
  font-size:50px;
}

#IntenseWorkoutImg1{
  width: 40%;
  height:350px;
  margin-top: -20px;
  margin-left: 71px;
  border-radius:183px;
  border: 1px solid black;
  border-radius:190px;
}
#IntenseWorkoutImg2{
  width: 40%;
  height:354px;
  float: right;
  margin-top: -360px;
  margin-right: 65px;
  border-radius:162px;
  border: 1px solid black;
  border-radius:190px;
}